@import url('https://fonts.cdnfonts.com/css/comfortaa');
* {
    font-family: 'Comfortaa',sans-serif;
    padding: 0px;
    margin: 0px;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;
    background-color: #36517C;
}
.div-left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 40%;
    color: white
}
.div-left h1{
    font-size: 3vw;
    margin-left: 10%;
}
#div-right {
    position: absolute;
    display: flex;
    left: 65%;
    top: 0%;
    height: 100%;
    width: 35%;
    justify-content: space-evenly;
    align-items: center;
}
.username{
    color: white;
    font-size: 2vw;
}
.button1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #36517C;
    border: 0.3vw solid rgba(108, 160, 237, 0.4);
    height: 100%; 
    width: 100%;
    border-radius: 3vw;
    z-index: 2;
    overflow: hidden;
}
.button1:hover{
    opacity: 0.5;
    cursor: pointer;
}
header a{
    text-decoration: none;
    height: 50%;
    width: 30%;
    z-index: 1;
    border-radius: 3vw;
}
.menu-text{
    text-align: center;
    font-style: normal;
    font-size: 1.8vw;
    color: #FFFFFF;
    
}
#logo {
    aspect-ratio: 1/1;
    height: 100%;
}

.main{
    position: absolute;
    width: 80%;
    height: 70%;
    top: 15%;
    left: 10%;
    background-color: #D9D9D9;
    border-radius: 3vw;
}

#que{
    position: absolute;

    top: 10%;
    left: 20%;
    width: 60%;
    height: 10%;
    font-size: 2vw;
    word-wrap: break-word;
    border: solid 0.2vw #000000;
    background-color: #D9D9D9;
    border-radius: 3vw;
    padding-left: 0.9vw;
}

.options{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
}

.option{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}
.option-input{
    width: 50%;
    background-color: #D9D9D9;
    height: 70%;
    font-size: 1.5vw;
    border-radius: 3vw;
    border: solid 0.2vw black;
    padding-left: 0.9vw;
}

.explanation{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    margin: 1%;
}
.explanation input{
    width: 100%;
    background-color: #D9D9D9;
    height: 70%;
    font-size: 1.5vw;
    border-radius: 3vw;
    border: solid 0.2vw black;
    padding-left: 0.9vw;
}

form .btn{
    position: absolute;
    top: 83%;
    left: 38%;
    width: 17%;
    height: 10%;
    background-color:#36517C;
    border: 0.3vw solid rgba(108, 160, 237, 0.4);
    font-size: 1.5vw;
    font-weight: 700;
    color:white;
    border-radius: 3vw;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

form .btn:hover{
    opacity: 0.5;
}

form label{
    font-size: 1.5vw;
}

.dropdown{
    position: absolute;
    top: 10%;
    left: 2%;
    background-color: #D9D9D9;
    width: 15%;
    height: 10%;
    border: solid 0.2vw black;
    border-radius: 2vw;
    font-size: 1vw;
    padding: 0.3vw;

    
}


.categoryOption{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 50%;
}
.options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img {
    position: absolute;
    left: 40%;
    top: 10%;
    width: 60%;
    height: 80%;
}
footer{
    position: absolute;
    top: 90%;
    left: 0%;
    height: 10%;
    width: 100%;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
footer h2{
    font-size: 0.80vw;
    background-color: #D9D9D9;
}
.idk{
    width:80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #D9D9D9;
    font-size: 0.90vw;
}
.idk h1,.idk u{
    background-color: #D9D9D9;
}
