@import url('https://fonts.cdnfonts.com/css/comfortaa');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Comfortaa, sans-serif;
}
.flashes {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    z-index: 1;
    font-size: 32px;
    position: absolute;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background-color: #fff;
    color: red;
}
.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.login-box {
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
    background-color: #fff;
}

.login-box h1 {
    margin-bottom: 20px;
    font-size: 96px;
}

.login-box h4 {
    margin-top: 40px;
    font-size: 24px;
}

.login-box a {
    font-size: 24px;
}

.login-box input {
    display: flex;
    width: 478px;
    height: 114px;
    border: none;
    border-radius: 43px;
    outline: none;
    margin-bottom: 20px;
    background-color: #6CA0ED;
    font-size: 28px;
    padding-left: 20px;
    color: #fff;
}

.login-box input::placeholder {
    display: flex;
    align-items: center;
    font-size: 28px;
    color: #fff;
}

.login-box .btn button {
    width: 247px;
    height: 81px;
    border: none;
    border-radius: 43px;
    outline: none;
    background-color: #6CA0ED;
    font-size: 28px;
    color: #fff;
}

.login-box .btn {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
}

.isactive:hover {
    opacity: 0.5;
    cursor: pointer;
}

.isactive:active {
    background-color: #4F7DB1;
}