/*@import url('https://fonts.cdnfonts.com/css/comfortaa');
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Comfortaa',sans-serif;
}
header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;
    background-color: #6CA0ED;
    color:white;
}
#div-left{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 50%;
}
#div-right {
    position: absolute;
    display: flex;
    left: 50%;
    top: 0%;
    height: 100%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}
header h1{
    font-family: Comfortaa, sans-serif;
    color: white;
}


.button1{
    background-color: #B4D1FD;
    
    height: 100%; 
    width: 100%;
    border-radius: 30px;
}
.button1:hover{
    opacity: 0.5;
}
header a{
    margin-right: 10%;
    height: 50%; 
    width: 30%;
}

#logo {
    width: 10%;
    height: 100%;
}
.center{
    display: flex;
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: center;
}
.main {
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content:space-between;
    display: flex;
    background-color: white; /* Промени цвета, ако е необходимо */
    border-radius: 10px;
    width: 60%;
    height: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
.main h1{
    font-size: 40px;
}
.restart-button{
    position: absolute;
    width: 15%;
    height: 10%;
    top: 2%;
    left: 82%;
    border-radius: 43px;
    background-color: green;
}
.restart-button:active{
    background-color: darkgreen;
}
.btn{
    margin-top: 2%;
    width: 15%;
    height: 10%;
    background-color: lightskyblue;
    border-radius: 43px;
}
.btn:hover{
    opacity: 0.5;
}
.subm{
    width: 15%;
    height: 10%;
    top: 2%;
    left: 82%;
    border-radius: 43px;
    margin-bottom: 2%;
}
.options{
    display: grid;
    grid-template-columns:25%,25%;
    grid-template-rows:25%,25%;
    gap: 0px;
    width: 50%;
    height: 50%;
}
.answer{
    display: flex;
    justify-content: center;
    align-content: center;
}
.options #box1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.options #box2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.options #box3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.options #box4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}*/