@import url('https://fonts.cdnfonts.com/css/comfortaa');
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Comfortaa',sans-serif;
}
header {
    position: absolute;
    

    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;
    background-color: #6CA0ED;
    color:white;
}
#div-left{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 50%;
}
#div-right {
    position: absolute;
    display: flex;
    left: 50%;
    top: 0%;
    height: 100%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}
header h1{
    font-family: Comfortaa, sans-serif;
    color: white;
}


.button1{
    background-color: #B4D1FD;
    
    height: 100%; 
    width: 100%;
    border-radius: 30px;
}
.button1:hover{
    opacity: 0.5;
}
header a{
    margin-right: 10%;
    height: 50%; 
    width: 30%;
}

#logo {
    width: 10%;
    height: 100%;
}

.menu-text{
    text-align: center;
    
    font-style: normal;
    font-weight: 400;
    font-size: 200%;
    line-height: 45px;
    color: #FFFFFF;
    
}


.main{
    display: flex;
    align-items: end;
    justify-content: start;
    flex-flow: row wrap;
    align-content: start;
    width: 1920px;
    height: 500px;

}
.feedback-histogram{
    width: 1500px;
    height: 450px;
    display: flex;
    align-items: end;
    justify-content: start;
    flex-flow: row nowrap;
    
}

.circle {
    display: flex;
    color: white;
    justify-content: center;
    font-size:36px;
    align-items: center;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: #19E607;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: black;

}

.circle h1{
    -webkit-text-stroke: 1.5px black;
    display: flex;
    text-align: center;

}



.green-block{
    width: 4%;
    height: 66%;
    background-color: #19E607;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-bottom-width: 0;
    
    margin-left: 70px;
    
}

.yellow-block{
    width: 4%;
    margin-left: 70px;
    height: 33%;
    background-color: yellow;
    border-style: solid;
    border-width: 3px;
    border-bottom-width: 0;
    border-color: black;

}

.red-block{
    width: 4%;
    height: 16%;
    background-color: red;
    border-style: solid;
    border-width: 3px;
    border-bottom-width: 0;
    border-color: black;
    margin-left: 70px;

}
.line {
    background: black;
    height: 3px;
    width: 1920px;
}
.btn{
    height: 50px;
    width: 50px;

    border:none;
    border-radius: 50%;
}

.btn:hover{
    opacity: 0.5;
}

input {
    height: 50px;
    background-color: #D9D9D9;
    width: 900px;
    border-radius: 43px;
    font-size: 28px;
    padding-left: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.feedback {
    display: flex;
    flex-wrap: wrap;
    max-height: 100px;
    background-color: #D9D9D9;
    width: 900px;
    border-radius: 43px;
    font-size: 28px;
    padding-left: 20px;
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.feedback_outstanding {
    display: flex;
    flex-wrap: wrap;
    max-height: 100px;
    background-color: #19E607;
    width: 900px;
    border-radius: 43px;
    font-size: 28px;
    padding-left: 20px;
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.feedback_neutral {
    display: flex;
    flex-wrap: wrap;
    max-height: 100px;
    background-color: yellow;
    width: 900px;
    border-radius: 43px;
    font-size: 28px;
    padding-left: 20px;
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.feedback_need_improvement {
    display: flex;
    flex-wrap: wrap;
    max-height: 100px;
    background-color: red;
    width: 900px;
    border-radius: 43px;
    font-size: 28px;
    padding-left: 20px;
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.feedback p {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100px;
    max-width: 900px;
}

.feedbacks {
    display: flex;
    flex-direction: column-reverse;
    width: 1000px;
    height: 400px;
    border: none;
    overflow-x: hidden;
    overflow-y: auto;
    
}

