@import url('https://fonts.cdnfonts.com/css/comfortaa');
* {
    font-family: 'Comfortaa',sans-serif;
    padding: 0px;
    margin: 0px;
}
header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;
    background-color: #36517C;
}
.div-left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 40%;
    color: white
}
.div-left h1{
    font-size: 3vw;
    margin-left: 10%;
}
#div-right {
    position: absolute;
    display: flex;
    left: 40%;
    top: 0%;
    height: 100%;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
}
.username{
    color: white;
    font-size: 2vw;
}
.button1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #36517C;
    border: 0.3vw solid rgba(108, 160, 237, 0.4);
    height: 100%; 
    width: 100%;
    border-radius: 3vw;
    z-index: 2;
    overflow: hidden;
}
.button1:hover{
    opacity: 0.5;
    cursor: pointer;
}
header a{
    text-decoration: none;
    height: 50%;
    width: 20%;
    z-index: 1;
    border-radius: 30px;
}
.menu-text{
    text-align: center;
    font-style: normal;
    font-size: 2vw;
    color: #FFFFFF;
    
}
#logo {
    aspect-ratio: 1/1;
    height: 100%;
}
form{
    flex-direction: row;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 77%;
    left:50%;
    height: 10%;
    width: 50%;
}
input {
    height: 90%;
    background-color: #D9D9D9;
    width: 80%;
    border-radius: 1vw;
    font-size: 2vw;
    padding-left: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.btn{
    height: 90%;
    aspect-ratio: 1/1;
    border:none;
    border-radius: 100%;
}
.img-btn{
    height: 100%;
    aspect-ratio: 1/1;
    border:none;
    border-radius: 100%;
}
.btn:hover{
    opacity: 0.5;
}
.green-block{
    width: 66%;
    height: 3vw;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    background-color: #19E607;
}
.yellow-block{
    width: 33%;
    height: 3vw;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    background-color: yellow;
}
.red-block{
    width: 16%;
    height: 3vw;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    background-color: red;
}
.feedbacks {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: none;
    overflow-x: hidden;
    overflow-y: auto;
    width: 96%;
    margin-left: 2%;
    height: 65%;
    top: 10%;
    left: 0;
}
.feedback-grade{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 3vw;
    width: 50%;
}
.field{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: auto;
    margin-top: 1vw;
}
.feedback-field{
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.feedback,.feedback_outstanding,.feedback_need_improvement,.feedback_neutral {
    display: flex;
    height: auto;
    justify-content: center;
    width: 97%;
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
    border-radius: 1vw;
    font-size: 2vw;
    border-style: solid;
    border-width: 0.1vw;
    border-color: black;
    word-wrap: break-word;
    overflow-x:hidden;
    background-color: #D9D9D9;

}
.plus-img{
    position: relative;
    margin-left: auto;
    margin-top: auto;
    width: 5%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.msg {
    font-size: 2vw;
    text-align: center;
}
.feedbacks p{
    font-size: 2vw;
    text-align: center;
    word-wrap: break-word;
    max-width: 100%;
}

.comment{
    margin-left: 10%;
    margin-top: 0.5%;
}

.img {
    position: absolute;
    left: 40%;
    top: 10%;
    width: 60%;
    height: 80%;
}



footer{
    position: absolute;
    top: 90%;
    left: 0%;
    height: 10%;
    width: 100%;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
footer h2{
    font-size: 0.80vw;
    background-color: #D9D9D9;
}
.idk{
    width:80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #D9D9D9;
    font-size: 0.90vw;
}
.idk h1,.idk u{
    background-color: #D9D9D9;
}