@import url('https://fonts.cdnfonts.com/css/comfortaa');
* {
    padding: 0px;
    margin: 0px;
}
header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;
    background-color: #6CA0ED;
}
.menu-text{
    text-align: center;
    font-family: 'Comfortaa',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 200%;
    line-height: 45px;
    color: #FFFFFF;
}
#div-left{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 50%;
}
#div-right {
    position: absolute;
    display: flex;
    left: 50%;
    top: 0%;
    height: 100%;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}
.button1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B4D1FD;
    margin-right: 10%;
    height: 50%; 
    width: 30%;
    border-radius: 30px;
}
.button1:hover{
    opacity: 0.5;
}
#logo {
    margin-left: 2%;
    width: 10%;
    height: 100%;
}
.profilepage{
    width: 50%;
    height: 90%;
    position: absolute;
    top: 10%;
    left: 0px;
    background-color: #B4D1FD;
}
.profilepic{
    width: 40%;
    height: 40%;
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 100%;
}
.details{
    display: flex;
    position: absolute;
    height: 50%;
    width: 50%;
    top: 0px;
    left: 50%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.details-text{
    text-align: center;
    font-family: 'Comfortaa',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 45px;
    color: #FFFFFF;
}
.bio{
    height: 40%;
    width: 90%;
    position: absolute;
    top: 55%;
    left: 5%;
    background: #D9D9D9;
    border-radius: 43px;
}
.edit{
    position: absolute;
    top: 70%;
    left: 87%;
    width: 8%;
    height: 20%;
    border-radius: 100%;
    background: url('https://cdn3.vectorstock.com/i/1000x1000/66/27/pencil-icon-black-on-white-background-vector-9076627.jpg');
    background-size: 150% 150%;
    background-position: center;
}
.userpage{
    position: absolute;
    height: 90%;
    width: 50%;
    top: 10%;
    left: 50%;
}
.tests{
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
}
.test-text{
    margin-top: 5%;
    text-align: center;
    font-family: 'Comfortaa',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    color:black;
}
.buttons{
    position: absolute;
    display: flex;
    width: 90%;
    height: 50%;
    top: 40%;
    left: 5%;
    right: 5%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
}
.button{
    list-style: none;
    background-color:#6CA0ED;
    margin-bottom: 40px;
    border: none;
    border-radius: 43px;
    width: 250px;
    height: 70px;
}
.button:hover{
    opacity: 0.5;
}
.btn{
    list-style: none;
    background-color:#6CA0ED;
    border: none;
    border-radius: 43px;
    width: 50%;
    height: 20%;
}
.btn:hover{
    opacity: 0.5;
}
.feedback{
    height: 50%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-evenly;
}
.feedback-text{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    align-items: center;
    text-align: center;
    color: #000000;
}