@import url('https://fonts.cdnfonts.com/css/comfortaa');
* {
    font-family: 'Comfortaa',sans-serif;
    padding: 0px;
    margin: 0px;
}
header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;
    background-color: #36517C;
}
.menu-text{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 200%;
    line-height: 45px;
    color: #FFFFFF;
}
#div-left{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 50%;
}
.div-mid {
    position: absolute;
    top: 0%;
    left: 10%;
    height: 100%;
    width: 50%;
    color: #000;
}
.div-mid h1 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width:fit-content;
    font-size: 48px;
    color: #000;
}
#div-right {
    position: absolute;
    display: flex;
    left: 50%;
    top: 0%;
    height: 100%;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}
.username{
    color: white;
    margin-right: 10px;
}
.button1{
    background-color: #B4D1FD;
    
    height: 100%; 
    width: 100%;
    border-radius: 30px;
}
.button1:hover{
    opacity: 0.5;
}
header a{
    margin-right: 10%;
    height: 50%; 
    width: 30%;
}
#logo {
    aspect-ratio: 1/1;
    height: 100%;
}
.menu-text{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 200%;
    line-height: 45px;
    color: #FFFFFF;
    
}
.main{
    position: absolute;
    display: flex;
    align-content: space-between;
    justify-content: flex-end;
    width: 100%;
    height: 38%;
    top: 10%;
    left: 0;
}
.circle-field{
    position: absolute;
    top:0;
    right: 0;
    display: flex;
    height: 100%;
    aspect-ratio: 1/1;
    align-items: center;
    justify-items: center;
}
.circle {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    aspect-ratio: 1/1;
    height: 60%;
    background-color: #D9D9D9;
    border-style: solid;
    border-width: 3px;
    border-color: black;

}
.circle-text{
    text-align: center;
    font-size: 25px;
}
.circle h1{
    -webkit-text-stroke: 1.5px black;
    display: flex;
    text-align: center;
}
.circle_outstanding {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    aspect-ratio: 1/1;
    height: 60%;
    background-color: #19E607;
    border-style: solid;
    border-width: 3px;
    border-color: black;

}

.circle_outstanding h1{
    -webkit-text-stroke: 1.5px black;
    display: flex;
    text-align: center;
}

.circle_neutral {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    aspect-ratio: 1/1;
    height: 60%;
    background-color: yellow;
    border-style: solid;
    border-width: 3px;
    border-color: black;

}

.circle_neutral h1{
    -webkit-text-stroke: 1.5px black;
    display: flex;
    text-align: center;
}

.circle_need_improvement {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    aspect-ratio: 1/1;
    height: 60%;
    background-color: red;
    border-style: solid;
    border-width: 3px;
    border-color: black;

}

.circle_need_improvement h1{
    -webkit-text-stroke: 1.5px black;
    display: flex;
    text-align: center;
}
.feedback-histogram{
    position: absolute;
    width: 100%;
    height: 70%;
    top:0;
    left: 0;
    display: flex;
    align-items: end;
    justify-content: start;
    flex-flow: row nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    
}
.green-block{
    height: 70px;
    width: 66%;
    background-color: #19E607;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-bottom-width: 0;
    min-width: 70px;
    margin-left: 70px;
    
}

.yellow-block{
    height: 70px;
    margin-left: 70px;
    width: 33%;
    background-color: yellow;
    border-style: solid;
    border-width: 3px;
    border-bottom-width: 0;
    border-color: black;
    min-width: 70px;

}

.red-block{
    height: 70px;
    width: 16%;
    background-color: red;
    border-style: solid;
    border-width: 3px;
    border-bottom-width: 0;
    border-color: black;
    margin-left: 70px;
    min-width: 70px;

}
.fedback{
    position: absolute;
    top: 51%;
    left: 0%;
    height: 50px;
    width: 50%;
}
.line {
    position: absolute;
    top: 50%;
    left: 0;
    background: black;
    height: 3px;
    width: 100%;
}
.btn{
    position: absolute;
    top: 51%;
    left: 52%;
    height: 50px;
    width: 50px;
    border:none;
    border-radius: 50%;
}
.img-btn{
    position: absolute;
    top:0;
    left:0;
    height: 50px;
    width: 50px;
    border:none;
    border-radius: 50%;
}
.btn:hover{
    opacity: 0.5;
}

input {
    height: 50px;
    background-color: #D9D9D9;
    width: 900px;
    border-radius: 43px;
    font-size: 28px;
    padding-left: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.feedback {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 100px;
    min-height: 50px;
    background-color: #D9D9D9;
    width: 100%;
    border-radius: 43px;
    font-size: 28px;
    padding-left: 20px;
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    overflow-y: auto;
    overflow-x:hidden;
}

.feedback_outstanding {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 100px;
    min-height: 50px;
    background-color: #19E607;
    width: 50%;
    border-radius: 43px;
    font-size: 28px;
    padding-left: 20px;
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    overflow-y: auto;
    overflow-x:hidden;
}

.feedback_neutral {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 100px;
    min-height: 50px;
    background-color: yellow;
    width: 50%;
    border-radius: 43px;
    font-size: 28px;
    padding-left: 20px;
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    overflow-y: auto;
    overflow-x:hidden;
}

.feedback_need_improvement {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 100px;
    min-height: 50px;
    background-color: red;
    width: 50%;
    border-radius: 43px;
    font-size: 28px;
    padding-left: 20px;
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    overflow-y: auto;
    overflow-x:hidden;
}

.feedback p {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100px;
    max-width: 900px;
}

.feedbacks {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    border: none;
    overflow-x: hidden;
    overflow-y: auto;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
}

