@import url('https://fonts.cdnfonts.com/css/comfortaa');
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Comfortaa';
}
header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;
    background-color: #6CA0ED;
    color: white;
}
#div-left{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 50%;
}
.div-mid {
    position: absolute;
    top: 0%;
    left: 10%;
    height: 100%;
    width: 50%;
    color: #000;
}
.div-mid h1 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width:fit-content;
    font-size: 48px;
    color: #000;
}
#div-right {
    position: absolute;
    display: flex;
    left: 50%;
    top: 0%;
    height: 100%;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}
.button1{
    background-color: #B4D1FD;
    
    height: 100%; 
    width: 100%;
    border-radius: 30px;
}
.button1:hover{
    opacity: 0.5;
}
header a{
    margin-right: 10%;
    height: 50%; 
    width: 30%;
}

#logo {
    width: 10%;
    height: 100%;
}
.main{
    position: absolute;
    display: flex;
    align-content: space-between;
    justify-content: flex-end;
    width: 100%;
    height: 40%;
    top: 10%;
    left: 0;
}
.circle-field{
    position: absolute;
    top:0;
    right: 0;
    display: flex;
    height: 100%;
    aspect-ratio: 1/1;
    align-items: center;
    justify-items: center;
}
.circle {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    aspect-ratio: 1/1;
    height: 60%;
    background-color: #D9D9D9;
    border-style: solid;
    border-width: 3px;
    border-color: black;

}
.circle-text{
    text-align: center;
    font-size: 40px;
}
.circle h1{
    -webkit-text-stroke: 1.5px black;
    display: flex;
    text-align: center;
}
.circle_outstanding {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    aspect-ratio: 1/1;
    height: 60%;
    background-color: #19E607;
    border-style: solid;
    border-width: 3px;
    border-color: black;

}

.circle_outstanding h1{
    -webkit-text-stroke: 1.5px black;
    display: flex;
    text-align: center;
}

.circle_neutral {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    aspect-ratio: 1/1;
    height: 60%;
    background-color: yellow;
    border-style: solid;
    border-width: 3px;
    border-color: black;

}

.circle_neutral h1{
    -webkit-text-stroke: 1.5px black;
    display: flex;
    text-align: center;
}

.circle_need_improvement {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    aspect-ratio: 1/1;
    height: 60%;
    background-color: red;
    border-style: solid;
    border-width: 3px;
    border-color: black;

}

.circle_need_improvement h1{
    -webkit-text-stroke: 1.5px black;
    display: flex;
    text-align: center;
}

.feedback-histogram{
    position: absolute;
    width: 70%;
    height: 100%;
    top:0;
    left: 0;
    display: flex;
    align-items: end;
    justify-content: start;
    flex-flow: row nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.green-block{
    width: 70px;
    height: 200px;
    background-color: #19E607;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-bottom-width: 0;
    min-width: 70px;
    margin-left: 70px;
    
}

.yellow-block{
    width: 70px;
    margin-left: 70px;
    height: 100px;
    background-color: yellow;
    border-style: solid;
    border-width: 3px;
    border-bottom-width: 0;
    border-color: black;
    min-width: 70px;

}

.red-block{
    width: 70px;
    height: 50px;
    background-color: red;
    border-style: solid;
    border-width: 3px;
    border-bottom-width: 0;
    border-color: black;
    margin-left: 70px;
    min-width: 70px;

}
.line {
    position: absolute;
    top: 50%;
    left: 0;
    background: black;
    height: 3px;
    width: 100%;
}
.feedbacks{
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    border: none;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 48%;
    top: 52%;
    left: 0;
}
.checkbox{
    height: 100%;
    aspect-ratio: 1/1;
}
.option{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 50%;
}
.options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.feedback {
    display: flex;
    justify-self: flex-start;
    flex-wrap: wrap;
    max-height: 100px;
    background-color: #D9D9D9;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    border-radius: 43px;
    font-size: 28px;
    padding-left: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    
}
.feedback p {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100px;
    max-width: 500px;
}
.feedback-design{
    display: flex;
    width: 70%;
    margin-top: 10px;
}
.reaction-text{
    text-align: center;
    font-size: 20px;
    padding-left: 5px;
}
.form{
    display: flex;
    margin-left: 2%;
    flex-wrap: wrap;
    justify-content:center;
}
.feedbackIdSpace input{
    width: 0;
    height: 0;
    border: none;
    outline: none;
}

.submit_grade{
    height: 50%;
    width: 50%;
    font-size: 20px;
    justify-content: center;
    border-radius: 43px;
    background-color: #B4D1FD;
}