{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/css/add-question-style.css">
    <title>Teacher Home Page</title>
</head>
<body>
    <header>
        <div class="div-left">
            <h1 class="header-text">Practicum</h1>
        </div>
        <div-right id="div-right">
            
           
            <a href="/logout">
                <button type="submit" class="button1"><h1 class="menu-text">Log out</h1></button>
            </a>
            
        </div-right>
    </header>
    <div class="main">
         <form>
            <input type="text" class="question" placeholder="Question">
            <div class="options">
                <div class="option"><label>A:</label><input type="text" class="answer" placeholder="option 1"></div>
                <div class="option"><label>B:</label><input type="text" class="answer" placeholder="option 2"></div>
                <div class="option"><label>C:</label><input type="text" class="answer" placeholder="option 3"></div>
                <div class="option"><label>D:</label><input type="text" class="answer" placeholder="option 4"></div>
            </div>
            <button type="submit" class="btn">Add</button>
         </form>
    </div>
    <footer>
        <h1 class="contact">Contact us: practicum_admin@gmail.com</h1>
    </footer>
</body>
</html>
{% endblock %}