{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='pictures/fav.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add-question-style.css') }}">
    <title>Create test</title>
</head>
<body>
    <header>
        <div class="div-left">
            <h1 class="header-text">Practicum</h1>
        </div>
        <div-right id="div-right">
            <h1 class="username">User: {{current_user.first_name}}</h1>
            <a href="/profile_student">
                <button type="submit" class="button1"><h1 class="menu-text">Profile</h1></button>
            </a>
            <a href="/logout">
                <button type="submit" class="button1"><h1 class="menu-text">Log out</h1></button>
            </a>
            
        </div-right>
    </header>
    <div class="main">
         <form>
            <input type="text" id="que" placeholder="Question">
            <div class="options">
                <div class="option"><label>A:</label><input type="text" id="aqr" placeholder="option 1"></div>
                <div class="option"><label>B:</label><input type="text" id="aqr1" placeholder="option 2"></div>
                <div class="option"><label>C:</label><input type="text" id="aqr2" placeholder="option 3"></div>
                <div class="option"><label>D:</label><input type="text" id="aqr3" placeholder="option 4"></div>
                <div class="option"><label>ANS</label><input type="text" id="aqr4" placeholder="option 4"></div>
            </div>
            <button type="submit" class="btn" onclick="addQuestion(0, q, w, e, r,t, y,'GDH')">Add</button>
         </form>
    </div>
    <footer>
        <h1 class="contact">Contact us: practicum_admin@gmail.com</h1>
    </footer>
    <script src="{{ url_for('static', filename='JS/questions.js') }}"></script>
    <script>
        let q = document.getElementById("que").value;
        let w = document.getElementById("aqr").value;
        let e = document.getElementById("aqr1").value;
        let r = document.getElementById("aqr2").value;
        let t = document.getElementById("aqr3").value;
        let y = document.getElementById("aqr4").value;
        console.log(pos_choisses);
        fetch('/add-question', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({}) // You can pass some data here if needed
        })
        .then(response => response.json())
        .then(data => {
            console.log("Modified JSON data:", data);
        })
        .catch(error => console.error('Error:', error));
    </script>
</body>
</html>
{% endblock %}