{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='pictures/fav.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add-question-style.css') }}">
    <title>Create test</title>
</head>
<body>
    <header>
        <div class="div-left">
            <h1 class="header-text">Practicum</h1>
        </div>
        <div-right id="div-right">
            <h1 class="username"></h1>
            <a href="/profile_teacher">
                <button type="submit" class="button1"><h1 class="menu-text">Profile</h1></button>
            </a>
            <a href="/">
                <button type="submit" class="button1"><h1 class="menu-text">Log out</h1></button>
            </a>
            
        </div-right>
    </header>
    <div class="main">
        <form method="post" action="/submit">
            <select class="dropdown" name="category">
                <option selected disabled>Choose a category</option>
                <option class="categoryOption" value="1">Алгебра</option>
                <option class="categoryOption" value="2">Геометрия</option>
                <option class="categoryOption" value="3">История</option>
                <option class="categoryOption" value="4">География</option>
            </select>
            <div class="option">
                <label for="option_a">A: </label>
                <input type="text" name="option_a" placeholder="Option 1" class="option-text">
            </div>
            <input type="text" name="question" placeholder="Question">
            <div class="option">
                <label for="option_b">B: </label>
                <input type="text" name="option_b" placeholder="Option 2" class="option-text">
            </div>
            <div class="option">
                <label for="option_c">C: </label>
            
                <input type="text" name="option_c" placeholder="Option 3" class="option-text">
            </div>
            <div class="option">
                <label for="option_d">D: </label>
                <input type="text" name="option_d" placeholder="Option 4" class="option-text">
            </div>
            <div class="option">
                <label for="ans">ans </label>
                <input type="text" name="ans" placeholder="Ans" class="option-text">
            </div>
            <div class="explanation"><input type="text" name="explanation" placeholder="Explanation"></div>
            <button type="submit" class="btn">Add</button>
        </form>
    </div>
    
    <footer>
        <div class="idk">
            <h1><u>Terms of service</u></h1>
            <h1><u>About us</u></h1>
            <h1><u>Manage Cookies</u></h1>
            <h1><u>Privacy policy</u></h1>
        </div>
        <h2>Copyright &copy 2024 all rights reserved</h2>
    </footer>
    
    
    <script src="{{ url_for('static', filename='JS/questions.js') }}"></script>
    
    
    <script>
        let q = document.getElementById("que").value;
        let w = document.getElementById("aqr").value;
        let e = document.getElementById("aqr1").value;
        let r = document.getElementById("aqr2").value;
        let t = document.getElementById("aqr3").value;
        let y = document.getElementById("aqr4").value;
        console.log(pos_choisses);
        fetch('/add-question', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({}) // You can pass some data here if needed
        })
        .then(response => response.json())
        .then(data => {
            console.log("Modified JSON data:", data);
        })
        .catch(error => console.error('Error:', error));
    </script>

</body>
</html>
{% endblock %}