<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='pictures/fav.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing-sytle.css') }}">
</head>
<body>
    <header>
        <div class="div-left">
            <h1 class="header-text">Practicum</h1>
        </div>
        <div-right id="div-right">
            <a href="/login">
                <button type="submit" class="button1"><h1 class="menu-text">Log in</h1></button>
            </a>
            <a href="/sign-up">
                <button type="submit" class="button1"><h1 class="menu-text">Register</h1></button>
            </a>
        </div-right>
    </header>
    <div class="main">
        <h2>Най-добрата платформа</h2>
        <span>
            за самообучение и обратна връзка с учител
        </span>
    </div>
    <img class="img" src="{{ url_for('static', filename='pictures/mainpic.png') }}"/>
    <footer>
        <h1 class="contact">Contact us: practicum_admin@gmail.com</h1>
    </footer>
</body>
</html>