{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login-style.css') }}">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</head>
<body>
    <div class="main"></div> 
    <div class="login-box">
         <h1>Login</h1>
        <form method="POST">
            <input type="text" id="email" name="email" placeholder="Email" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <div class="btn">
                <button class="isactive" type="submit" name="login">Log in</button>
            </div>
        </form>
        <div class="noacc">
            <h4>Don't have an account?<a href="{{ url_for('auth.sign_up') }}"> Register!</a></h4>
        </div>
    </div>
</body>
</html>
{% endblock %}
