{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('assets', filename='css/login-style.css') }}"> 
        
    </head>
    <body>
        <img class="main" href="{{ url_for('assets', filename='pictures/person-writing.png') }}"> 
        
        <div class="login-box">
            <h1>Login</h1>
            <form method="post">
                <input type="text" id="email" name="email" placeholder="Email" required>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <div class="btn">
                    <button type="submit" name="login">Log in</button>
                </div>
            </form>
            <h4>Don't have an account?</h4>
            <a href="register.html">Register!</a> <!-- TODO: Register.html path -->
        </div>
    </body>
</html>

{% endblock %}