<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions-style.css') }}">
    
</head>
<body>

    <div class="main">
        <button class="btn" onclick="whenStart()">Start</button>
        <p id="question"></p>
        <div class="options">
            <p id="A"></p>
            <p id="B"></p>
            <p id="C"></p>
            <p id="D"></p>
            <input type="checkbox" id="1" onclick="Release(id)">
            <input type="checkbox" id="2" onclick="Release(id)">
            <input type="checkbox" id="3" onclick="Release(id)">
            <input type="checkbox" id="4" onclick="Release(id)">
        </div>
        <button onclick="checkIfCorrect()">Submit</button>
    </div>
    <script src="{{ url_for('static', filename='JS/questions.js') }}"></script>
</body>
</html>

