<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions-style.css') }}">
</head>
<body>

    <header>
        <div-left>
            <img src="{{ url_for('static', filename='pictures/Plugin icon - 3.svg') }}" id="logo">
        </div-left>
        
        <div-right id="div-right">
            <h1 class="username">User: {{current_user.first_name}}</h1>
            <a href="/logout">
                <button type="submit" class="button1"><h1 class="menu-text">Log out</h1></button>
            </a>
            <a href="/profile_student">
                <button type="submit" class="button1"><h1 class="menu-text">Profile</h1></button>
            </a>
        </div-right>
    </header>
    
    <div class="main">
        <button class="btn" onclick="whenStart()">Start</button>
        <p id="question"></p>
        <div class="options">
            <p id="A"></p>
            <p id="B"></p>
            <p id="C"></p>
            <p id="D"></p>
            <input type="checkbox" id="1" onclick="Release(id)">
            <input type="checkbox" id="2" onclick="Release(id)">
            <input type="checkbox" id="3" onclick="Release(id)">
            <input type="checkbox" id="4" onclick="Release(id)">
        </div>
        <button onclick="checkIfCorrect()">Submit</button>
    </div>
    <script src="{{ url_for('static', filename='JS/questions.js') }}"></script>
</body>
</html>

