{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register-style.css') }}">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li class="flash">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</head>
<body>
    <div class="img"></div> 
    <div class="register-box">
        <h1>Register</h1>
        <form method="POST">
            <input type="text" id="username" name="username" placeholder="Name">
            <input type="email" id="email" name="email" placeholder="Email">
            <input type="password" id="password" name="password" placeholder="Password">
            <div class="checkboxes">
                <div class="option"><input type="radio" onclick="teacherChoice()" id="teacher" name="role" class="checkbox" value="1">
                    <label>Teacher</label>
                </div>
                <div class="option"><input type="radio" onclick="studentChoice()" id="student" name="role" class="checkbox" value="0">
                    <label>Student</label>
                </div>
            </div>
                <div class="dropdown" id="myDropdown" style="display: none;">
                    <select onclick="myFunction()" class="dropbtn" type="button">
                        <option selected disabled>Choose a teacher</option>
                        {% for teacher in teacher_list %}
                            <option value="{{ teacher.first_name }}">{{ teacher.first_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            <script>
                function teacherChoice() {
                    document.getElementById("myDropdown").style.display = "none";
                }
                function studentChoice() {
                    document.getElementById("myDropdown").style.display = "block";
                    document.getElementById("myDropdown").classList.toggle("show");
                    window.onclick = function(event) {
                        if (!event.target.matches('.dropbtn')) {
                            var dropdowns = document.getElementsByClassName("dropdown-content");
                            var i;
                            for (i = 0; i < dropdowns.length; i++) {
                                var openDropdown = dropdowns[i];
                                if (openDropdown.classList.contains('show')) {
                                    openDropdown.classList.remove('show');
                                }
                            }
                        }
                    }
                }
            </script>
            <div class="btn-center"><button type="submit">Register</button></div>
        </form>
        <div class="noacc">
            <h2>Already have an account?<a class="btn link" href="{{ url_for('auth.login') }}"> Log in!</a></h2>
        </div>
    </div>
</body>
</html>
{% endblock %}

