<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Feedbacks</title>
        <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='pictures/fav.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/student-feedback-style.css') }}"> 
        <meta charset=utf-8>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    </head>


    <body>
        <header>
            <div class="div-left">
                <h1 class="header-text">Practicum</h1>
            </div>
            <div-right id="div-right">
                <h1 class="username"></h1>
                <a href="/profile_student">
                    <button type="submit" class="button1"><h1 class="menu-text">Profile</h1></button>
                </a>
                <a href="/">
                    <button type="submit" class="button1"><h1 class="menu-text">Log out</h1></button>
                </a>
                
            </div-right>
        </header>
        
        <form method="POST">
            <input type="text" name="feedback" id="feedback" placeholder="Type you feedback...">
            <button href="/feedback" class="btn">
                <img type="submit" class="img-btn" src="{{ url_for('static', filename='pictures/Add btn.png') }}">
            </button>
        </form>
        
        <div class="feedbacks">
            {% for feedback in feedbacks[::-1]%}
                <div class="field">
                    <div class="feedback-grade">
                        {% if feedback.grade == "3"%}
                            <div class="green-block"></div>
                        {% elif feedback.grade == "2"%}
                            <div class="yellow-block"></div>
                        {% elif feedback.grade == "1"%}
                            <div class="red-block"></div>
                        {% endif %}
                    </div>
                    <div class="feedback-field">
                        <button class="feedback" onclick="toggleCommentMenu(this)">
                            <p class="msg">{{ feedback.message }}</p>
                            {% if feedback.comment != "N/A" %}
                                <img class="plus-img" src="{{ url_for('static', filename='pictures/plus.png') }}">
                            {% endif %}
                        </button>
                        {% if feedback.comment != "N/A" %}
                            <div class="comment" style="display: none;">
                                <p>Comment: {{ feedback.comment }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <footer>
            <div class="idk">
                <h1><u>Terms of service</u></h1>
                <h1><u>About us</u></h1>
                <h1><u>Manage Cookies</u></h1>
                <h1><u>Privacy policy</u></h1>
            </div>
            <h2>Copyright &copy 2024 all rights reserved</h2>
        </footer>
        
        <script>
            function toggleCommentMenu(button) {
                var panel = button.nextElementSibling;
                var img = button.querySelector('.plus-img');
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                    img.src = "{{ url_for('static', filename='pictures/plus.png') }}";
                } else {
                    panel.style.display = "block";
                    img.src = "{{ url_for('static', filename='pictures/minus.png') }}";
                }
            }
        </script>
        
    </body>
</html>