{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='pictures/fav.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student-style.css') }}">
    
    <title>Student Home Page</title>
</head>
<body>
    <header>
        <div class="div-left">
            <h1 class="header-text">Practicum</h1>
        </div>
        <div-right id="div-right">
            
           
            <a href="/logout">
                <button type="submit" class="button1"><h1 class="menu-text">Log out</h1></button>
            </a>
            
        </div-right>
    </header>
    <div class="profilepage">
        <img class="profilepic" src="{{ url_for('static', filename='pictures/user.png') }}"> 
        <div class="details">
            <h1 class="details-text">Role: Student</h1>
            <h1 class="details-text">Name: {{studentname}}</h1>
            <h1 class="details-text">Email: {{studentemail}}</h1>
            <h1 class="details-text">Teacher: {{teachername}}</h1>
        </div>
       
        
        
            <div class="tests">
                <h1 class="test-text">Choose a test</h1>
                <ul class="buttons">
                    <li>
                        <button class="button" onclick="window.location.href='/test/0';">
                            <h1 class="details-text">
                                Алгебра
                            </h1>
                        </button>
                    </li>
                    <li>
                        <button class="button" onclick="window.location.href='/test/1';">
                            <h1 class="details-text">
                                Геометрия
                            </h1>
                        </button>
                    </li>
                    <li>
                        <button class="button" onclick="window.location.href='/test/2';">
                            <h1 class="details-text">
                                История
                            </h1>
                        </button>
                    </li>
                    <li>
                        <button class="button" onclick="window.location.href='/test/3';">
                            <h1 class="details-text">
                                География
                            </h1>
                        </button>
                    </li>
                    
                </ul>
            </div>
                <div class="feedback">
                
                <button onclick="window.location.href='/feedbackpage';" type="submit" class="btn"><h1 class="feedback-text">Feedback page</h1></button>
            </div>
        
    </div>
    <footer>
        <h1 class="contact">Contact us: practicum_admin@gmail.com</h1>
    </footer>
    <script src="{{ url_for('static', filename='JS/questions.js') }}"></script>
</body>
</html>
{% endblock %}