{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student-style.css') }}">
    
    <title>Document</title>
</head>
<body>
    <header>
        <div-left>
            <img src="{{ url_for('static', filename='pictures/Plugin icon - 3.svg') }}" id="logo">
        </div-left>
        <div-right id="div-right">
            <a href="/logout">
                <button type="submit" class="button1">Logout</button>
            </a>
        </div-right>
    </header>
    <div class="profilepage">
        <img class="profilepic" src="{{ url_for('static', filename='pictures/user.png') }}"> 
        <div class="details">
            <h1 class="details-text">Role: Student</h1>
            <h1 class="details-text">Name: {{studentname}}</h1>
            <h1 class="details-text">Email: {{studentemail}}</h1>
        </div>
        <div class="bio">
            <div class="edit"></div>
        </div>
    </div>
    <div class="userpage">
        <div class="tests">
            <h1 class="test-text">Choose a test</h1>
            <ul class="buttons">
                <li><button class="button"><h1 class="details-text">test 1</h1></button></li>
                <li><button class="button"><h1 class="details-text">test 2</h1></button></li>
                <li><button class="button"><h1 class="details-text">test 3</h1></button></li>
                <li><button class="button"><h1 class="details-text">test 4</h1></button></li>
            </ul>
        </div>
        <div class="feedback">
            <h1 class="feedback-text">Need feedback?</h1>
            <a href="/feedback">
                <button type="submit" class="btn"><h1 class="details-text">Go to feedback page</h1></button>
            </a>
            
        </div>
    </div>
</body>
</html>
{% endblock %}