<!DOCTYPE html><!--TODO: backend-->
<html lang="en">
    <head>
        <title>student-feedback</title>
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/student-feedback-style.css') }}"> 
        <meta charset=utf-8>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    </head>

<script src="/Testing2/app.js"></script>
    <body>
        <header>
            <div-left>
                <img src="{{ url_for('static', filename='pictures/Plugin icon - 3.svg') }}" id="logo">
            </div-left>
            
            <div-right id="div-right">
                <h1 class="username">User: {{current_user.first_name}}</h1>
                <a href="/logout">
                    <button type="submit" class="button1"><h1 class="menu-text">Log out</h1></button>
                </a>
                <a href="/profile_student">
                    <button type="submit" class="button1"><h1 class="menu-text">Profile</h1></button>
                </a>
            </div-right>
        </header>
        <div class="main">
            <div class="feedback-histogram">
                <div class="green-block"></div>
                <div class="yellow-block"></div>
                <div class="red-block"></div>
                
            </div>
            <div class="circle"></div>
            <div class="line"></div>
        </div>
        
        <form method="POST">
            <input type="text" name="feedback" id="feedback" placeholder="feedback">
            <button href="/feedback" class="btn">
                <img type="submit" class="btn" src="{{ url_for('static', filename='pictures/Add btn.png') }}">
            </button>
        </form>
        <div class="feedbacks">
            {% for feedback in feedbacks %}
                <section class="feedback">
                    <p>{{ feedback.message }}</p>
                </section>
            {% endfor %}
        </div>
    </body>
</html>