{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teacher-style.css') }}">
    <title>Teacher Home Page</title>
</head>
<body>
    <header>
        <div-left>
            <img src="{{ url_for('static', filename='pictures/Plugin icon - 3.svg') }}" id="logo">
        </div-left>
        <div-right id="div-right">
            <button onclick="window.location.href='/logout';" type="submit" class="button1"><h1 class="menu-text">Log out</h1></button>
        </div-right>
    </header>
    <div class="profilepage">
        <img class="profilepic" src="{{ url_for('static', filename='pictures/user.png') }}"> 
        <div class="details">
            <h1 class="details-text">Role: Teacher</h1>
            <h1 class="details-text">Name: {{teachername}}</h1>
            <h1 class="details-text">Email: {{teacheremail}}</h1>
        </div>
        <div class="bio">
            <div class="edit"></div>
        </div>
    </div>
    <div id="right-side-teachers">
            <p id="Need-to-return-feedback">Need to return feedback?</p>
            {% for student in students %}
                <button class="details-text" onclick="clicked('{{student.email}}', '{{ feedback_id }}');" type="submit">{{student.first_name}}</button>
                <script>
                    function clicked(student_email, feedback_id) {
                         window.location = `/reaction//${student_email}/${feedback_id}`;
                    }
                </script>
            {% endfor %}
        </div>
</body>
</html>
{% endblock %}