<!DOCTYPE html>
<html>
    <head>
        <title>Feedbacks</title>
        <link rel="stylesheet" type="text/css" href="teacher-feedback-style">
    </head>
    <body>
        <header>
            <div-left>
                <img src="{{ url_for('static', filename='pictures/Plugin icon - 3.svg') }}" id="logo">
            </div-left>
            <div-right id="div-right">
                <button type="submit" class="button1">
                    <a href="/logout">Logout</a>
                </button>
            </div-right>
        </header>
        <main>
            <div class="student">
                
            </div>
        </main>
    </body>
</html>