<!DOCTYPE html>
<html>
    <head>
        <title>Feedbacks</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/teacher-feedback-style.css') }}">
    </head>
    <body>
        <header>
            <div-left>
                <img src="{{ url_for('static', filename='pictures/Plugin icon - 3.svg') }}" id="logo">
            </div-left>
            
            <div-right id="div-right">
                <h1>Student: {{current_user.first_name}}</h1>
                <a href="/profile_teacher">
                    <button type="submit" class="button1">Profile</button>
                </a>
                <a href="/logout">
                    <button type="submit" class="button1">Logout</button>
                </a>
            </div-right>
        </header>
        <div class="main">
            <div class="feedback-histogram">
                {% for feedback in feedbacks %}
                    {% if feedback.grade == "3"%}
                        <div class="green-block"></div>
                    {% elif feedback.grade == "2"%}
                        <div class="yellow-block"></div>
                    {% elif feedback.grade == "1"%}
                        <div class="red-block"></div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="circle"><h1>Outstanding</h1></div>
        </div>
        <div class="line"></div>
        <div class="feedbacks">
            {% for feedback in feedbacks %}
                <section class="feedback-design">
                    <div class="feedback">
                        <p>{{ feedback.message }}</p>
                    </div>
                    {% if feedback.grade == "N/A" %}
                        <form class="form" method="POST" onsubmit="window.location = `/reactions/${student_email}`;">
                            <div class="options">
                                <div class="option">
                                    <input type="radio" id="outstanding" name="grade" class="checkbox" value="3">
                                    <label class="reaction-text">Outstanding</label>
                                </div>
                                <div class="option">
                                    <input type="radio" id="neutral" name="grade" class="checkbox" value="2">
                                    <label class="reaction-text">Neutral</label>
                                </div>
                                <div class="option">
                                    <input type="radio" id="need_improvement" name="grade" class="checkbox" value="1">
                                    <label class="reaction-text">Need improvement</label>
                                </div>
                            </div>
                            <div class="feedbackIdSpace">
                                <input type="text" name="ID" value="{{feedback.id}}">
                            </div>
                            <button class="submit_grade" type="submit">Confirm</button>
                        </form>
                    {% else %}
                        <div class="grade">
                            <p>{{ feedback.grade }}</p>
                        </div>
                    {% endif %}
                </section>
            {% endfor %}
        </div>
    </body>
</html>