{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='pictures/fav.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teacher-style.css') }}">
    <title>Teacher Home Page</title>
</head>
<body>
    <header>
        <div class="div-left">
            <h1 class="header-text">Practicum</h1>
        </div>
        <div class="div-mid">
            <a href="#p1"><h1 class="button2">Feedback</h1></a>
            <a href="#p2"><h1 class="button2">Add Tests</h1></a>
        </div>
        <div-right id="div-right">
            
           
            <a href="/logout">
                <button type="submit" class="button1"><h1 class="menu-text">Log out</h1></button>
            </a>
            
        </div-right>
    </header>
    <div class="page1" id="p1">
        <div class="profilepage">
            
           {% for student in students %}
                {% if student.my_teacher == teachername %}
                    <button class="button" onclick="clicked('{{student.email}}');" type="submit"><h1 class="details-text">{{student.first_name}}</h1></button>
                    <script>
                        function clicked(student_email) {
                            window.location = `/reactions/${student_email}`;
                        }
                    </script>
                {% endif %}
            {% endfor %}
            
    </div>
    
    <div class="page2" id="p2">
        
        <a href="/addtest">
            <button class="add-test"><h1>Add Question</h1></button>
        </a>
        
    </div>
    
    
    <footer>
        <img class="footerpic" src="{{ url_for('static', filename='pictures/footer.png') }}">
        
        <h1 class="heading">Practicum</h2>
        
        <h2>Copyright &copy 2024 all rights reserved</h2>
        
        <div class="idk">
            <h1>Terms of service</h1>
            <h1>About us</h1>
            <h1>Manage Cookies</h1>
            <h1>Privacy policy</h1>
        </div>
        
    </footer>
</body>
</html>
{% endblock %}