{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teacher-style.css') }}">
    <title>Teacher Home Page</title>
</head>
<body>
    <header>
        <div-left>
            <img src="{{ url_for('static', filename='pictures/Plugin icon - 3.svg') }}" id="logo">
        </div-left>
        <div-right id="div-right"><a href="/logout" ><button type="submit" style="height: 50%; width:200%; border-radius: 30px;" >Log out</button></a></div-right>

    </header>
    <div id="side-teachers">
        <div id="left-side-teachers">
            <div id="top-left-side-teachers">
                <img style="border-radius: 50%" src="{{ url_for('static', filename='pictures/user.png') }}" id="profile-page">
                <ul id="teacher-things">
                    <li><p>Role: Teacher</p></li>
                    <li><p>Name: {{teachername}}</p></li>
                    <li><p>Email: {{teacheremail}}</p></li>
                </ul>
            </div>
            <div id="bottom-left-side-teachers">
                <input type="text" id="info" placeholder="Info/Bio" style="font-size: 40px;">
            </div>
        </div>
        <div id="right-side-teachers">
            <p id="Need-to-return-feedback">Need to return feedback?</p>
            <ul id="teacher-students">
                <li><button>student a</button></li>
                <li><button>student b</button></li>
                <li><button>student c</button></li>
                <li><button>student d</button></li>
            </ul>
        </div>
    </div>
</body>
</html>
{% endblock %}